body {

    background-color: white;
    font-family: 'Poppins', sans-serif;

}

h1 {

    font-size: 50px;
}

p {

    font-size: 20px;
}

/*----- header ------ */

.container {

    margin: 70px 90px;
}

.header {

    display: flex;
    height: 646px;
    width: 1321px;
    background-color: black;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.header img:hover {
    transform: scale(1.3);
    transition: transform 2s ease-in-out;
}

.header-titel {

    width: 531px;
    Height: 424px;
}

.header img {

    width: 581px;
    height: 613px;
}

.btn {

    background-color: red;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 5px;
}

/*------ button ------ */

.blog-part {

    display: flex;
    width: 1321px;
    padding: 15px;
    border-radius: 10px;
    column-gap: 15px;
    margin: 58px 90px;

}


.link-btn {

    background-color: black;
    width: 312px;
    height: 312px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 18px;
    border-radius: 10px;

}

.link-btn a {

    text-decoration: none;

}

.blog-btn {

    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 7px 10px;
    font-size: 20px;

}

#match-btn {
    background-color: red;
}


/*------- blog ------ */
.blogs {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;

}

.blog {

    width: 312px;
    height: 362px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    padding-top: 0;

}

.blog-2 {

    width: 312px;
    height: 250px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.summary {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}

.transfer {

    padding: 7px 14px;
    border-radius: 5px;

}

.time {

    display: flex;

    align-items: center;
    justify-content: space-between;

}


/*------- footer ------------ */

footer {

    color: aliceblue;
    background-color: black;
    text-align: center;
    padding-top: 90px;
    height: 444px;

}

hr {

    width: 1320px;

}

.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;

}

.media-icon a {
    color: whitesmoke;
    padding: 10px 10px;
    font-size: 30px;
    background-color: #228b224f;
    border-radius: 50%;

}


/* ----------responsive area -------- */

@media screen and (max-width:688px) {
    .header {
        flex-direction: column;

    }



}